#userInput{
    background: none;
    border: none;
}
.dark{
    background: #141c2f;
}
.dark1{
    border-radius: 20px;
    background: #141c2f;
}
.main{background-color: #1f2a48;
    color: white;
    border-radius: 20px;
    margin: 2vh;
    padding: 1vh;
}
.main1{
    background-color: #1f2a48;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh;
    margin: 1vh;

}
.profilePic{
    border-radius: 50%;
    height: 160px;
    margin: 20px;
}

